.btn {
    border: 1px solid #000;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: bold;
    margin: 15px 10px 0 10px;
}

.btn-start {
    background-color: teal;
}

.btn-stop {
    background-color: blue;
}

.btn-wait {
    background-color: rgb(247, 0, 255);
}

.btn-reset {
    background-color: red;
}